* {
	/* Changing default settings */
    font-family: <?=$site_font?>;
	margin: 0;
	border: none;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: <?=$site_bg?>;
}

/* topbar things */

.topbar {
    z-index: 2;
	position: fixed;
	top: 0;
	width: 100%;
	height: 48px;
	background-color: <?=$tbar_bg?>;
}

.topbar ul {
	list-style-type: none;
	float: left;
	width: auto;
	height: 100%;
	overflow: hidden;
}

.topbar li {
	float: left;
	height: 100%;
}

.topbar label {
	background-color: <?=$tbar_bg?>;
	width: 48px;
	height: 100%;	
	display: inline-block;
    outline: none;
    text-align: center;
}

.topbar label input {
    display: none;
}

.topbar input + i {
    position: relative;
    top: calc(50% - 18px);
    color: <?=$tbar_fg?>; 
    font-size: 36px;
}

.topbar label:hover {
	background-color: <?=$tbar_bg_hover?>;
}

.activelabel {
    display: none;
}

.topbar input:checked + .activelabel {
    /* The plan was to place a div that looked like the menu button 
    INSIDE the menu button, so it would be rendered over it when the
    button was checked. But, it doesn't seem to work, so we will have
    to simply modify the button with javascript when we get there.
    For now it'll work just not how we want for the final product.*/
}

#tbarlogo {
	float: right;
}

/* sidebar things */

.sidebar {
    position:fixed;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    display: block;
    top: 48px;
    width: 260px;
    height: 100%;
    background-color: <?=$sbar_bg?>;
}

.profpic {
    background-color: white;
    border-radius: 100%;
}

.userinfo {
    padding: 16px;
    font-size: 14px;
    height: 140px;
    background: <?=$user_info_bg?>; 
}

.userinfo ul {
    list-style-type: none;
    width: 100%;
}

.userinfo li {
    float: left;
}

.sidebar .profpic {
    width: 48px;
    height: 48px;
}

#settingbutton {
    float: right;
    width: 48px;
    height: 48px;
}

#settingbutton button {
    display: block;
    width: 100%;
    height: 100%;
    background-color: <?=$user_info_bg?>;
}

#settingbutton i {
    position: relative;
    top: calc(50% - 18px);
    font-size: 36px;
}

#settingbutton:hover i {
    color: <?=$tbar_fg?>;
}

.sidebar h1 {
    padding: 16px 0px;
    clear: both;
}

.categorylist {
    list-style-type: none;
}

.categorylist li {
    display: block;
    width: 100%;
    padding: 8px 8px;
}

.categorylist li:hover {
    background-color: <?=$sbar_hl?>;
}

.main {
    width: 100%;
    height 100%;
}

.main h1 {
    color: white;
    margin: auto;
    margin-top: 200px;
    width: 33%;
    text-align: center;
}

.main p {
    color: white;
    width: 50%;
    margin: auto;
    text-align: center;
}

.main a {
    color: <?=$tbar_fg?>;
}

.footer {
    z-index: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: <?=$tbar_bg?>;
    color: white;
    text-align: center;
}

.footer a {
    padding: 0px 8px;
    color: <?=$tbar_fg?>;
}
