* {
    /* Changing default settings */
    font-family: <?=$site_font?>;
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: <?=$site_bg?>;
}

/* topbar things */

.topbar {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    background-color: <?=$tbar_bg?>;
}

.topbar ul {
    list-style-type: none;
    float: left;
    width: auto;
    height: 100%;
    overflow: hidden;
}

.topbar li {
    float: left;
    height: 100%;
}

.topbar label {
    background-color: <?=$tbar_bg?>;
    width: 48px;
    height: 100%;
    display: inline-block;
    outline: none;
    text-align: center;
}

.topbar label input {
    display: none;
}

.topbar input + i {
    position: relative;
    top: calc(50% - 18px);
    color: <?=$tbar_fg?>;
    font-size: 36px;
}

.topbar label:hover {
    background-color: <?=$tbar_bg_hover?>;
}

.activelabel {
    display: none;
}

.sidebar #menubutton.activated {
    background-color: <?=$tbar_active?>;
    color: WHITE;
}

#tbarlogo {
    float: right;
}

/* sidebar things */

.sidebar {
    position:fixed;
    overflow-x: hidden;
    z-index: 1;
    display: block;
    top: 48px;
    width: 0px; /* Adjusted by javascript, actual width in there */
    height: 100%;
    background-color: <?=$sbar_bg?>;
    transition: 0.3s;
}

.profpic {
    background-color: white;
    border-radius: 100%;
}

.userinfo {
    padding: 16px;
    font-size: 14px;
    min-height: 140px;
    background: <?=$user_info_bg?>;
}

.userinfo ul {
    list-style-type: none;
    width: 100%;
}

.userinfo li {
    float: left;
}

.sidebar .profpic {
    width: 48px;
    height: 48px;
}

.userinfo h1 {
    float: right;
}

#settingbutton {
    float: right;
    width: 48px;
    height: 48px;
}

#settingbutton button {
    display: block;
    width: 100%;
    height: 100%;
    background-color: <?=$user_info_bg?>;
}

#settingbutton i {
    position: relative;
    top: calc(50% - 18px);
    font-size: 36px;
}

#settingbutton:hover i {
    color: <?=$tbar_fg?>;
}

.sidebar h1 {
    padding: 16px 0px;
    clear: both;
}

.categorylist {
    list-style-type: none;
}

.categorylist li {
    display: block;
    width: 100%;
    padding: 8px 8px;
}

.categorylist li:hover {
    background-color: <?=$sbar_hl?>;
}

#pushAside {
    transition: margin-left .5s;
}

.main {
    width: 100%;
    height 100%;
}

.main h1 {
    color: white;
    margin: auto;
    margin-top: 100px;
    width: 40%;
    text-align: center;
}

.main p {
    color: white;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

.main a {
    color: <?=$tbar_fg?>;
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 6px 0px;
    padding: 5px 5px;
}

input[type=submit] {
    font-weight: bold;
    width: 100%;
    margin: 6px 0px;
    padding: 5px 5px;
    color: white;
    background-color: <?=$sbar_selected?>;
}

.login a {
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    margin: 6px 0px;
    padding: 5px 5px;
    color: <?=$hyperlinks?>;
    background-color: <?=$sbar_bg?>;
}

.login h1 {
    float: none;
    font-size = 10pt;
}

.login label {
    font-weight: bold;
}

.statusmsg {
    display: block;
    text-align: center;
    padding: 5px;
    background-color: <?=$sbar_selected?>;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.footer {
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: <?=$tbar_bg?>;
    color: white;
    text-align: center;
}

.footer a {
    padding: 0px 8px;
    color: <?=$tbar_fg?>;
}

.loadingCover {
    background-color: <?=$user_info_bg?>;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
